<% provide :title, full_title("Home") %>

<body>
<%= render "shared/swipe" %>
<div class="container contant">
<div class="row">
<div class="site-overlay"></div>

<!--content-->
<div class="col-md-12 basic">

<!--head-->
<%= render "shared/header" %>
<div class="place-li-cont">
<!--headlines-->
<h1>Welcome, Linh</h1>
<p class="lead">Let's enjoy the rhythm</p>
<!--Blog category-->
<ul class="blog-cat">
  <% @genres.each do |g| %>
    <li>
      <a href="#" class="showplace">
        <i class="fa fa-eye"></i><%= g.name %>
      </a>
    </li>
  <% end %>
</ul>

<div id="audio-players">
<% @track_index.each do |track| %>
  <div class="pg style-list">
  <!--features-->
  <img src="http://i.imgur.com/XaZCBtV.png" alt="">
  <div class="con">
  <h2>
    <%= link_to track.title, track_path %>
    <h4><%= link_to "Cool", artist_path %></h4>
  </h2>
  <span>
    <audio id="audio-<%= track.id %>" class="audio" preload="true">
      <source src="<%= track.song %>">
      <source src="<%= track.song %>">
      Your browser does not support the audio element.
    </audio>
    <div id="wrapper">
    <div id="audioplayer-<%= track.id %>" class="audioplayer">
      <button id="playbutton-<%= track.id %>" class="playbutton play"></button>
      <span id="start-time-<%=track.id%>" class="start-time"></span>
      <span id="timeline-<%=track.id%>" class="timeline">
        <div class="music-line"></div>
        <div id="playhead-<%=track.id%>" class="playhead"></div>
      </span>
      <span id="stop-time-<%=track.id%>" class="stop-time"></span>
      </div>
    </div>
  </span>
  <a href="02.html" class="comm"><i class="fa fa-comments"></i>234 Comments</a>
  </div>
  </div>
<% end %>
</div>

</div>
<!--morebtn-->
<a href="#" class="more-btn">Load more</a>
</div>
</div>
</div>

</body>
