<% provide :title, full_title %>

<body class="promo">
  <div class="start-descrition option animated fadeInDownBig">
    <a href="#" class="start-logo"><img src="img/start/logo.png" alt=""></a>
    <h1><%= t ".welcome" %><span></span></h1>
    <span><%= t ".discover" %></span>
    <div class="search-promo">
      <div class="input-group">
        <input type="text" class="form-control" aria-label="..."
        placeholder="Search for tracks or artists">
        <div class="input-group-btn btn-promo-search">
          <button type="button" class="btn btn-success">
            <%= t "search" %></button>
        </div>
      </div>
    </div>
    <div class="btns">
      <%= link_to t(".getstart"), home_path, class: "green" %>
      <button class="white-border" id="login">Log in</button>
    </div>
    <%= render "shared/login_form" %>
  </div>
  <%= render "animation_image" %>
  <div class="bgg"></div>
</body>
