<div class="menu-btn">&#9776;</div>
<nav id="pushy" class="pushy pushy-left">
<div class="profile">
<div class="avatar"><img src="img/avatar/ava-16.jpg" alt="#"><span>5</span></div>
<h3><a href="03.html">You're not login</a></h3>
<button class="log-btn" id="login">Log in</button>
</div>
<ul class="side-menu">
<li><a href="index.html"><i class="fa fa-bookmark-o"></i>Promo page</a></li>
<li><a href="01.html" class="animsition-link"><i class="fa fa-map-marker"></i>Map</a></li>
<li><a href="05.html"><i class="fa fa-list"></i>Place list</a></li>
<li><a href="04.html"><i class="fa fa-th"></i>Place grid</a></li>
<li><a href="02.html"><i class="fa fa-building-o"></i>Place</a></li>
<li><a href="03.html"><i class="fa fa-user"></i>User profile</a></li>
<li><a href="06.html"><i class="fa fa-book"></i>Blog</a></li>
<li><a href="07.html"><i class="fa fa-file-powerpoint-o"></i>Open post</a></li>
</ul>
</nav>
<!--add-->
<div class="add-place none" id="pl">
<div class="place-form">
<i class="fa fa-times close-window" id="close"></i>
<h3>Upload your track<span></span></h3>
  <%= form_for @track do |t| %>
  <%= t.label :title do %>
    Title:
    <%= t.text_area :title %>
  <% end %>

  <%= t.label :description do %>
    Description:
    <%= t.text_area :description %>
  <% end %>

  <%= t.label :genre do %>
    Genre:
    <%= t.select :genre_id, Genre.all.collect {|g| [g.name, g.id]} %>
  <% end %>

  <div class="upload-btn btn btn-default"
    onclick="document.getElementById('selectedFile').click();">
    Upload track
  </div>
  <%= t.label :song, class: "file-upload" do %>
    <%= t.file_field :song, class: "hidden-file", id: "selectedFile" %>
  <% end %>

  <%= t.hidden_field :user_id, value: 1 %>

  <%= t.submit :upload, class: "green-btn-header" %>
<% end %>
</div>
</div>

<!--autorization-->
<%= render("shared/login_form") %>
