<%= form_for @track do |t| %>
  <%= render "shared/error_messages", object: t.object %>
  <%= t.label :title do %>
    Title:
    <%= t.text_area :title %>
  <% end %>

  <%= t.label :description do %>
    Description:
    <%= t.text_area :description %>
  <% end %>

  <%= t.label :genre do %>
    Genre:
    <%= t.select :genre_id, Genre.all.collect {|g| [g.name, g.id]} %>
  <% end %>

  <div class="upload-btn btn btn-default"
    onclick="document.getElementById('selectedFile').click();">
    Upload track
  </div>
  <%= t.label :song, class: "file-upload" do %>
    <%= t.file_field :song, class: "hidden-file", id: "selectedFile" %>
  <% end %>

  <%= t.hidden_field :user_id, value: 1 %>

  <%= t.submit :upload, class: "green-btn-header" %>
<% end %>
